.container {
    padding: 30px 40px;
    background-color: #FFFAEF;
    border-radius: 20px;
    box-shadow: 1px 1px 5px grey;
}

.title {
    color: #4D3826;
    font-family: 'Poppins-Bold';
    font-size: 23px;
    margin-bottom: 30px;
}

@media screen and (max-width: 990px) {
    .container {
        padding: 25px 30px;
    }
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 20px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 688px) {
    .container {
        padding: 20px 25px;
    }
}

@media screen and (max-width: 630px) {
    .container {
        padding: 20px 25px;
    }
}

@media screen and (max-width: 575px) {
    .container {
        padding: 20px 20px;
    }
}

@media screen and (max-width: 375px) {
    .title {
        font-size: 19px;
    }
}

@media screen and (max-width: 340px) {
    .container {
        padding: 20px 15px;
    }

    .title {
        font-size: 18px;
    }
}