.modal {
    border-radius: 20px;
    text-align: center;
    padding: 20px 20px;
    background-color: #FFFAEF;
}

.backdrop {
    background-color: black;
    opacity: 0.8 !important;
}

.title {
    font-family: 'Poppins-Bold';
    color: #4D3826;
    font-size: 20px;
    margin-bottom: 10px;
}

.info {
    color: #4D3826;
    font-size: 14px;
    margin-bottom: 20px;
}

.inputGroup {
    background-color: #4D3826;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.searchIcon {
    font-size: 16px;
    color: #FFFAEF;
}

.searchInput {
    font-size: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.invalid {
    color: #dc3545;
    font-size: 12px;
    margin-top: 10px;
}

.button {
    font-size: 15px;
    font-family: 'Poppins-SemiBold';
    border-width: 0px;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 20px;
}

.disabled {
    opacity: 65%;
    cursor: default !important;
}

.submit {
    background-color: #FD900C;
}

.cancel {
    background-color: #BFBBB3;
    margin-right: 20px;
}

.submit:hover, .submit:focus, .submit:active, .submit.active.focus, .submit.active:focus, .submit:active.focus, .submit:active:focus {
    background-color: #E3810A !important ;
    box-shadow: none !important;
}

.submit.disabled:hover, .submit.disabled:focus, .submit.disabled:active, .submit.disabled.active.focus, .submit.disabled.active:focus, .submit.disabled:active.focus, .submit.disabled:active:focus {
    background-color: #FD900C !important ;
    box-shadow: none !important;
}

.cancel:hover, .cancel:focus, .cancel:active, .cancel.active.focus, .cancel.active:focus, .cancel:active.focus, .cancel:active:focus {
    background-color: #ABA8A1 !important ;
    box-shadow: none !important;
}

@media screen and (orientation: landscape) {
    .image {
        max-height: 30vh;
        margin-bottom: 30px;
    }
}

@media screen and (orientation: portrait) {
    .image {
        height: 20vh;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 414px) {
    .title {
        font-size: 18px;
    }

    .info {
        font-size: 13px;
    }

    .searchInput {
        font-size: 14px
    }

    .searchIcon {
        font-size: 15px;
    }

    .button {
        font-size: 14px;
    }
}