.alignment {
    text-align: center;
}

.label {
    font-family: 'Poppins-SemiBold';
    font-size: 16px;
    color: #4D3826;
}

.input {
    font-size: 16px;
    color: #4D3826;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.submitButton {
    font-size: 18px;
    font-family: 'Poppins-SemiBold';
    background-color: #FD900C;
    border-width: 0px;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 50px;
}

.submitButton:hover, .submitButton:focus, .submitButton:active, .submitButton.active.focus, .submitButton.active:focus, .submitButton:active.focus, .submitButton:active:focus {
    background-color: #FD900C !important ;
    box-shadow: none !important;
}

@media screen and (max-width: 767px) {
    .input {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 375px) and (max-height: 700px) {
    .label {
        font-size: 14px;
    }

    .input {
        font-size: 14px;
    }

    .submitButton {
        font-size: 16px;
    }
}

@media screen and (max-width: 340px) {
    .label {
        font-size: 12px;
    }

    .input {
        font-size: 12px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .submitButton {
        font-size: 13px;
        padding-top: 6px;
        padding-bottom: 6px;
    }
}