/* Container */

.containerLandingPage {
    scroll-snap-type: y mandatory;
}

.containerIntro {
    height: 100vh;
    padding-top: 93px;
    background-color: #FFF3DB;
    padding-left: 43px;
    margin-right: -80px;
    scroll-snap-align: center;
}

.containerAbout {
    background-color: #FFFAEF;
    padding-left: 43px;
    padding-right: 43px;
    padding-top: 100px;
    padding-bottom: 50px;
    scroll-snap-align: center;
}

.containerHow {
    background-color: #FFFAEF;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100vw;
    scroll-snap-align: center;
}

.containerContact {
    background-color: #FFFAEF;
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 43px;
    padding-right: 43px;
    scroll-snap-align: center;
}

.rightAbout {
    padding-left: 24px;
}

.person {
    margin-top: 50px;
}

.contact {
    margin-top: 34px;
}

.rowIntro {
    height: calc(100vh - 93px);
}

.rowMobileAbout {
    display: none;
}

/* Text */

.titleIntro {
    font-family: 'Poppins-Bold';
    color: #4D3826;
    font-size: 72px;
    margin-bottom: 27pt;
}

.titleAbout {
    font-family: 'Poppins-Bold';
    color: #4D3826;
    font-size: 35px;
    margin-bottom: 12pt;
}

.titleHow {
    font-family: 'Poppins-Bold';
    color: #4D3826;
    font-size: 35px;
    margin-bottom: 40px;
}

.titleHowCard {
    font-family: 'Poppins-Bold';
    color: #4D3826;
    font-size: 25px;
    margin-bottom: 16px;
}

.titleCollaborator {
    font-family: 'Poppins-Bold';
    color:  #4D3826;
    font-size: 35px;
    margin-bottom: 6px;
}

.titleContact {
    font-family: 'Poppins-Bold';
    color:  #4D3826;
    font-size: 35px;
    margin-bottom: 22px;
}

.infoIntro {
    color:  #4D3826;
    font-size: 20px;
    margin-bottom: 66pt;
}

.infoAbout {
    color: #4D3826;
    font-size: 18px;
    text-align: justify;
}

.infoHowCard {
    color: #4D3826;
    font-size: 18px;
    margin-bottom: 0px;
}

.name {
    font-family: 'Poppins-SemiBold';
    color:  #4D3826;
    font-size: 24px;
    margin-bottom: 0px;
}

.experience {
    color: #4D3826;
    font-size: 18px;
}

.detailContact {
    font-family: 'Poppins-Regular';
    color: #4D3826;
    font-size: 18px;
    margin-bottom: 0px;
}

/* Button */

.buttonsIntro {
    display: inline;
}

.buttonStart {
    background-color: #FD900C;
    border-width: 0px;
    font-size: 24px;
    font-family: 'Poppins-SemiBold';
    padding-left: 45pt;
    padding-right: 45pt;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 20px;
    margin-right: 33px;
}

.buttonStart:hover, .buttonStart:focus, .buttonStart:active, .buttonStart.active.focus, .buttonStart.active:focus, .buttonStart:active.focus, .buttonStart:active:focus {
    background-color: #FD900C !important ;
    box-shadow: none !important;
}

.buttonFind {
    background-color: transparent;
    font-family: 'Poppins-SemiBold';
    color: #FD900C;
    font-size: 24px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 20px;
    border-width: 3px;
    border-color: #FD900C;
}

.buttonFind:hover, .buttonFind:focus, .buttonFind:active, .buttonFind.active.focus, .buttonFind.active:focus, .buttonFind:active.focus, .buttonFind:active:focus {
    background-color: transparent !important;
    box-shadow: none !important;
    color: #FD900C !important;
    border-width: 3px !important;
    border-color: #FD900C !important;
}

.btn:focus {
    outline: none !important;
    outline-offset: none !important;
}

/* Image */

.picIntro {
    height: 88vh;
    width: auto;
}

.picIntroPhone {
    display: none;
}

.picAbout {
    height: 388px;
    width: 639px;
    filter: drop-shadow(4px 4px 10px grey);
}

.picHow {
    height: 110px;
    width: 110px;
    margin-bottom: 27px;
}

.picCollaborator {
    height: auto;
    width: 100%;
    max-width: 170px;
}

.picContact {
    height: auto;
    width: 100%;
    max-width: 40px;
}

/* Card */

.howCard {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 39px 69px 39px 69px;
    background-color: #FFF3DB;
    box-shadow: 4px 4px 10px grey;
    margin-left: 43px;
    margin-right: 43px;
}

/* General */

.displayFlex {
    display: flex;
}

.menuCoverage {
    display: none;
}

@media screen and (max-width: 1431px) {
   .titleIntro {
       font-size: 60px;
   }

   .buttonStart {
       font-size: 22px;
       padding-left: 45pt;
       padding-right: 45pt;
       padding-top: 9px;
       padding-bottom: 9px;
   }

   .buttonFind {
       font-size: 22px;
       padding-left: 50px;
       padding-right: 50px;
       padding-top: 6px;
       padding-bottom: 6px;
   }

   .howCard {
       margin-left: 35px;
       margin-right: 35px;
   }
}

@media screen and (max-width: 1366px) {
    .picIntro {
        width: 50vw;
        height: auto;
    }

    .picAbout {
        width: 550px;
        height: auto;
    }

    .picHow {
        width: 90px;
        height: auto;
    }

    .howCard {
        margin-left: 25px;
        margin-right: 25px;
    }

    .containerHow {
        padding-left: 18px;
        padding-right: 18px;
    }
}

@media screen and (max-width: 1357px) {
    .buttonStart {
        font-size: 20px;
    }
 
    .buttonFind {
        font-size: 20px;
    }
}

@media screen and (max-width: 1329px) {
    .buttonStart {
        font-size: 20px;
    }
 
    .buttonFind {
        font-size: 20px;
    }
}

@media screen and (max-width: 1200px) {
    .picAbout {
        width: 500px;
        height: auto;
    }

    .containerAbout {
        padding-top: 80px;
        padding-bottom: 40px;
    }

    .containerHow {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .containerContact {
        padding-top: 40px;
        padding-bottom: 80px;
    }

    .howCard {
        padding: 39px 40px 39px 40px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .containerHow {
        padding-left: 28px;
        padding-right: 28px;
    }

    .titleHow {
        margin-bottom: 30px;
        font-size: 30px;
    }

    .titleAbout {
        font-size: 30px;
    }

    .titleCollaborator {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .titleContact {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .picContact {
        max-width: 35px;
    }

    .picCollaborator {
        max-width: 150px;
    }
}

@media screen and (max-width: 1073px) {
    .titleIntro {
        font-size: 50px;
    }

    .infoIntro {
        font-size: 18px;
    }

    .buttonStart {
        font-size: 18px;
        padding-left: 40px;
        padding-right: 40px;
    }
 
    .buttonFind {
        font-size: 18px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .picAbout {
        width: 450px;
        height: auto;
    }

    .titleHowCard {
        font-size: 23px;
    }

    .infoAbout {
        font-size: 16px;
    }

    .howCard {
        padding: 39px 35px 39px 35px;
        margin-left: 5px;
        margin-right: 5px;
    }
    
    .infoHowCard {
        font-size: 16px;
    }

    .containerHow {
        padding-left: 38px;
        padding-right: 38px;
    }

    .detailContact {
        font-size: 16px;
    }

    .experience {
        font-size: 16px;
    }

    .name {
        font-size: 23px;
    }
}

/* For Tablet */
@media screen and (max-width: 1025px) and (min-height: 1300px) {
    .rowIntro {
        height: auto;
    }

    .containerIntro {
        height: auto;
    }

    .infoIntro {
        margin-bottom: 30px;
    }

    .buttonStart {
        font-size: 20px;
    }

    .buttonFind {
        font-size: 20px;
    }
}

/* For Phone */
@media screen and (max-width: 990px) {
    .rowIntro {
        height: auto;
        justify-items: center;
        text-align: center;
    }

    .menuCoverage {
        display: block;
        background-color: rgba(0,0,0,0.8);
        width: 100%;
        position: absolute;
        z-index: 1;
    }

    .containerIntro {
        margin-right: 0px;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 105px;
        height: 100vh;
        display: flex;
        align-items: center;
    }

    .containerAbout {
        padding-left: 25px;
        padding-right: 25px;
    }

    .containerHow {
        padding-left: 25px;
        padding-right: 25px;
    }

    .picIntroPC {
        display: none;
    }

    .picIntroPhone {
        display: block;
    }

    .picIntro {
        width: auto;
        height: 30vh;
    }

    .titleIntro {
        font-size: 30px;
        margin-top: 27px;
        margin-bottom: 10px;
    }

    .infoIntro {
        margin-bottom: 28px;
        font-size: 18px;
    }

    .buttonStart {
        margin-bottom: 66px;
        font-size: 20px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .buttonFind {
        margin-bottom: 66px;
        font-size: 20px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .picAbout {
        width: 400px;
    }

    .howCard {
        padding: 30px 25px 30px 25px;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .picHow {
        width: 75px;
    }

    .name {
        font-size: 20px;
    }
}

@media screen and (max-width: 880px) {
    .picAbout {
        width: 350px;
    }

    .titleAbout {
        font-size: 24px;
    }

    .titleHow {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .titleHowCard {
        font-size: 21px;
    }

    .infoAbout {
        font-size: 16px;
    }

    .titleCollaborator {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .titleContact {
        font-size: 24px;
        margin-bottom: 20px;
    }
}

/* What is Qrder mobile starts here */
@media screen and (max-width: 767px) {
    .picAbout {
        width: 75%;
        filter: drop-shadow(2px 2px 3px grey);
    }

    .rightAbout {
        margin-top: 25px;
        padding-left: 15px;
    }

    .rowMobileAbout {
        display: block;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 20px;
    }

    .titleAboutMobile {
        font-family: 'Poppins-Bold';
        color: #4D3826;
        font-size: 26px;
    }

    .titleAbout {
        display: none;
    }
/* 
    .containerAbout {
        padding-top: 50px;
        padding-bottom: 25px;
    } */

    .containerAbout {
        padding-top: 35px;
        padding-bottom: 17.5px;
    }

    .containerHow {
        padding-top: 17.5px;
        padding-bottom: 17.5px;
    }
    
    .containerContact {
        padding-top: 35px;
        padding-bottom: 100px;
    }

    .colImageAbout {
        display: flex;
        justify-content: center;
    }

    .infoAbout {
        font-size: 18px;
    }

    .titleHow {
        font-size: 26px;
        margin-bottom: 0px;
    }

    .picHow {
        margin-bottom: 15px;
    }

    .titleHowCard {
        margin-bottom: 8px;
    }

    .howCard {
        padding: 30px 25px 30px 25px;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 25px;
        box-shadow: 1px 1px 10px grey;
    }

    .titleCollaborator {
        font-size: 26px;
        margin-bottom: -9px;
    }

    .titleContact {
        font-size: 26px;
        margin-bottom: 25px;
        margin-top: 5px;
    }

    .person {
        margin-top: 36px;
        margin-bottom: 36px;
    }

    .contact {
        margin-top: 24px;
    }

    .picContact {
        min-width: 24px;
        max-width: 24px;
    }
}

@media screen and (max-width: 650px) {
    .picAbout {
        width: 85%;
    }
}

@media screen and (max-width: 575px) {
    .person {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .titleCollaborator {
        text-align: center;
        margin-bottom: 26px;
    }

    .titleContact {
        text-align: center;
        margin-top: 35px;
        margin-bottom: 21px;
    }

    .contact {
        margin-top: 15px;
    }

    .picCollaborator {
        margin-bottom: 13px;
    }
}

@media screen and (max-width: 570px) {
    .titleIntro {
        margin-bottom: 15px;
    }

    .titleAboutMobile {
        font-size: 24px;
    }

    .titleHow {
        font-size: 24px;
    }

    .picAbout {
        width: 90%;
    }

    .titleCollaborator {
        font-size: 24px;
    }

    .titleContact {
        font-size: 24px;
    }
}

@media screen and (max-width: 540px) {
    .containerIntro {
        padding-top: 105px;
    }
    .buttonStart {
        margin-bottom: 17px;
        width: 100%;
    }
    
    .buttonFind {
        width: 100%;
    }

    .picAbout {
        width: 100%;
    }

    .infoAbout {
        font-size: 16px;
    }

    .name {
        font-size: 18px;
    }
}

@media screen and (max-width: 414px) {
    .picCollaborator {
        max-width: 140px;
    }
}

@media screen and (max-width: 414px) and (max-height: 750px) {
    .containerIntro {
        padding-top: 75px;
    }

    .picIntro {
        width: 250px;
        height: auto;
    }

    .titleIntro {
        font-size: 30px;
    }

    .infoIntro {
        font-size: 16px;
    }

    .buttonStart {
        font-size: 16px;
    }

    .buttonFind {
        font-size: 16px;
    }

    .containerAbout {
        padding-top: 35px;
        padding-bottom: 17.5px;
    }

    .picHow {
        width: 60px;
    }

    .picCollaborator {
        max-width: 140px;
    }
}

@media screen and (max-width: 360px) {
    .titleIntro {
        font-size: 24px;
    }

    .titleAboutMobile {
        font-size: 20px;
    }

    .titleHow {
        font-size: 20px;
    }

    .titleCollaborator {
        font-size: 20px;
    }

    .titleContact {
        font-size: 20px;
    }

    .infoIntro {
        font-size: 14px;
    }

    .infoAbout {
        font-size: 14px;
    }

    .titleHowCard {
        font-size: 16px;
    }

    .infoHowCard {
        font-size: 14px;
    }

    .name {
        font-size: 16px;
    }

    .experience {
        font-size: 14px;
    }

    .detailContact {
        font-size: 14px;
    }

    .picHow {
        width: 50px; 
    }

    .howCard {
        padding: 20px 15px 20px 15px;
    }

    .picCollaborator {
        max-width: 110px;
    }

    .picContact {
        min-width: 20px;
    }
}

@media screen and (max-width: 340px) {
    .containerIntro {
        padding-top: 75px;
    }
    
    .picIntro {
        width: 200px;
    }

    .infoIntro {
        font-size: 13px;
    }

    .titleIntro {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .buttonStart {
        font-size: 15px;
        padding-top: 7px;
        padding-bottom: 7px;
    }

    .buttonFind {
        font-size: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-width: 2px;
    }

    .name {
        font-size: 14px;
        margin-bottom: 2px;
    }
}

/* Iphone X */
@media screen and (max-width: 375px) and (min-height: 810px) and (max-height: 820px) {
    .infoIntro {
        font-size: 16px;
    }

    .containerIntro {
        padding-top: 75px;
    }

    .picHow {
        width: 60px;
    }
}

/* Pixel 2 XL */
@media screen and (max-width: 420px) and (min-height: 821px) and (max-height: 830px) {
    .infoIntro {
        font-size: 16px;
    }

    .containerIntro {
        padding-top: 75px;
    }

    .picHow {
        width: 60px;
    }
}