.customToggler {
    display: none;
}

.header {
    background-color: #FFF3DB;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 43px;
    padding-right: 43px;
}

.logo {
    font-family: 'ReemKufi_Regular';
    font-size: 48px;
    color: #FD900C !important;
    -webkit-text-stroke: 2px #FD900C;
    letter-spacing: 5px;
}

.link{
    font-family: 'Poppins-SemiBold';
    font-size: 18px;
    color: #4D3826 !important;
    margin-left: 20px;
    margin-right: 20px;
}

@media screen and (max-width: 990px) {
    .customToggler, .customToggler:hover, .customToggler:focus, .customToggler:active, .customToggler.active.focus, .customToggler.active:focus, .customToggler:active.focus, .customToggler:active:focus {
        display: block;
        border: none;
        background-color: transparent;
        outline: 0;
    }
    
    .toggleButton {
        font-size: 35px;
    }

    .link {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
        text-decoration: underline;
    }
}

@media screen and (max-width: 570px) {
    .logo {
        font-size: 36px;
    }

    .header {
        padding-left: 25px;
        padding-right: 25px;
    }

    .link {
        font-size: 16px;
    }
}

@media screen and (max-width: 375px) and (max-height: 700px) {
    .logo {
        font-size: 24px;
        -webkit-text-stroke: 1.5px #FD900C;
    }

    .toggleButton {
        font-size: 24px;
    }

    .link {
        font-size: 14px;
    }
}